.general-width {
	width: 1200px;
}
.secondary-nav {
	width: 300px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	background-color: #FFFFCC;
}
p {
	line-height: 2.25em;
}
td {
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
.secondary-nav li {
	list-style-type: none;
}
table {
	background-color: #FFF;
	border-collapse:collapse;
}
.imagerap {
	float: none;
	margin-right: 30px;
	margin-bottom: 10px;
	background-color: #F66;
	padding: 10px;
	margin-top: 10px;
	border: 3px solid #333;
}
.contentstuff {
	padding-right: 20px;
	padding-left: 20px;
}
.primarynav a {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	margin-right: 35px;
	margin-left: 55px;
	background-color: #FF9933;
	color: #FFF;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;
	border-radius: 10px;
}
.primarynav a:hover {
	background-color: #FF6666;
}
